* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    display: grid;
    width: 100vw;
    grid-template-rows: auto 1fr auto;
    gap: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #545454;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    padding: 8px 12px;
    border-left: 2px solid #FE0078;
    align-self: center;
}

h1, h2 {
    color: black;
}

a{
    text-decoration: none;
    color: #545454;
}

.navbar{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 140px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
}

.links {
    display: flex;
    width: 230px;
    justify-content: space-between;
}

main {
    display: grid;
    width: 1160px;
    place-self: center;
    grid-template: 1fr / 730px 380px;
    gap: 50px;
}

.conteudo{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 40px;
}

.post {
    
}

.title-info {
    margin-top: 15px;
    padding: 20px;
}

.post-image {
    width: 730px;
    height: 350px;
}

.post-text {
    padding: 25px 20px;
}

.post-text p {
    margin-bottom: 20px;
}

.continuar-lendo {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

button {
    all: unset;
}

button {
    background-color: #FFFFFF;
    width: 150px;
    text-align: center;
    padding: 12px 14px;
    border: 1px solid #FE0078;
    border-radius: 20px;
}

.post, .barra-lateral{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.barra-lateral {
    display: grid;
    grid-template: 52px 1fr 1fr / 340px;
    gap: 20px;
    padding: 20px 20px 40px 20px;
    height: 1396px;
}

input {
    all: unset;
}

.pesquisa {
    height: 52px;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 15px;
}

.categorias {
    display: grid;
    grid-template: repeat(7, 1fr) / 340px;
    margin-bottom: 20px;
}

.categoria {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px dotted #EEEEEE;
}

.publicidade {
    display: grid;
    grid-template: 1fr 240px 240px 240px / 340px;
    gap: 30px;
}

.pub-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
    font-size: 36px;
}

button:hover {
    background-color: #FE0078;
    color: #FFFFFF;
}

.pesquisa:hover {
    border: 1px solid #FE0078;
}

.categoria:hover {
    color: #FE0078;
    border-bottom: 2px dotted #FE0078;
}

button:hover, .pesquisa:hover, .categoria:hover {
    cursor: pointer;
}

footer{
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    padding: 30px;
}